.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius:1rem ;
    cursor: pointer;

    tansition: all 0.3s ease-in-out;


    &.primary-button{
        background-color: #f00808;
        color: white;
    }
    &:active{
        transform: scale(1.1);
    }

}